.board {
  height: 100%;
  display: flex;
  overflow-x: auto;
  min-height: 100vh;
  background-image: url(./../assets/img/board-bg.jpg);
  background-position: center;
  background-size: cover;
  padding: 8px 4px 4px 8px;
}
